@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

/*選取顏色*/
::selection {
	background: #a7aab8;
	color: #fff;
}
::-moz-selection {
	background: #a7aab8;
	color: #fff;
}
img::selection {
	background: transparent;
}
img::-moz-selection {
	background: transparent;
}

/*滑鼠*/
#cursor {
  display: none;
  position: absolute;
  z-index: 999;
  font-size: 10px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  color: transparent;
  margin-top: -15px;
  margin-left: -15px;
  pointer-events: none;
  border: 3px solid #a7aab8;
  background: rgba(255,255,255,0);
  transition: margin 240ms linear,width 240ms linear,height 240ms linear,background 240ms linear;
}
#cursor.a_hover{
  width: 160px;
  height: 160px;
  margin-top: -80px;
  margin-left: -80px;
}
#cursor.work_a_hover{
  width: 200px;
  height: 200px;
  margin-top: -100px;
  margin-left: -100px;
  border: 1px solid #fff;
  background: rgba(255,255,255,.3);
  backdrop-filter: grayscale(100%) sepia(0) brightness(80%);
  -backdrop-filter: grayscale(100%) sepia(0) brightness(80%);
}
#cursor.work_a_hover_yellow,
#cursor.work_a_hover_red,
#cursor.work_a_hover_green{
  width: 50px;
  height: 50px;
  margin-top: -25px;
  margin-left: -25px;
  border: none;
}
#cursor.work_a_hover_yellow{
  background: rgba(249,190,0,.8);
}
#cursor.work_a_hover_red{
  background: rgba(236,100,75,.8);
}
#cursor.work_a_hover_green{
  background: rgba(104,195,163,.8);
}

/*------------ loading ------------*/
.loading{
  position: fixed;
  top: 0;
  left: 0;
  background: #fff1ef;
  z-index: 999;
}
.loading_progress{
  background:#F9BE00;
  height: 5px;
  display: block;
  width: 0;
}
.mul13 {
  width: 30px;
  height: 30px;
  position: relative;
}
.m13s {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  position: absolute;
  opacity: .75;
} 
.m13c1 {
  background-color: #68C3A3;
  -webkit-animation: m13s1anim 2s infinite linear;
  animation: m13s1anim 2s infinite linear;
}
.m13c2 {
  background-color: #EC644B;
  -webkit-animation: m13s2anim 2s infinite linear;
  animation: m13s2anim 2s infinite linear;
}
@-webkit-keyframes m13s1anim {
  0%, 100% {
     -webkit-transform: translateX(-15px);
     transform: translateX(-15px);
  }
  25% {
     -webkit-transform: scale(0.6);
     transform: scale(0.6);
     opacity: .25;
  }
  50% {
     -webkit-transform: translateX(15px);
     transform: translateX(15px);
  }
  75% {
     -webkit-transform: scale(1.4);
     transform: scale(1.4);
     opacity: .8;
  }
}
@keyframes m13s1anim {
  0%, 100% {
     -webkit-transform: translateX(-15px);
     transform: translateX(-15px);
  }
  25% {
     -webkit-transform: scale(0.6);
     transform: scale(0.6);
     opacity: .25;
  }
  50% {
     -webkit-transform: translateX(15px);
     transform: translateX(15px);
  }
  75% {
     -webkit-transform: scale(1.4);
     transform: scale(1.4);
     opacity: .8;
  }
}
@-webkit-keyframes m13s2anim {
  0%, 100% {
     -webkit-transform: translateX(15px);
     transform: translateX(15px);
  }
  25% {
     -webkit-transform: scale(1.4);
     transform: scale(1.4);
     opacity: .8;
  }
  50% {
     -webkit-transform: translateX(-15px);
     transform: translateX(-15px);
  }
  75% {
     -webkit-transform: scale(0.6);
     transform: scale(0.6);
     opacity: .25;
  }
}
@keyframes m13s2anim {
  0%, 100% {
     -webkit-transform: translateX(15px);
     transform: translateX(15px);
  }
  25% {
     -webkit-transform: scale(1.4);
     transform: scale(1.4);
     opacity: .8;
  }
  50% {
     -webkit-transform: translateX(-15px);
     transform: translateX(-15px);
  }
  75% {
     -webkit-transform: scale(0.6);
     transform: scale(0.6);
     opacity: .25;
  }
}
/*------------ animated ------------*/
/* .animated {
  animation-duration: 1.3s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
} */

@keyframes upDown {
  from     {bottom: 10%; opacity:0.5;}
  50%   {bottom: 0%; opacity:1;}
  to {bottom: 10%; opacity:0.5;}
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.fadeInUp {
  animation-name: fadeInUp;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fadeIn {
  animation-name: fadeIn;
}
/*------------ animated ------------*/
/*------------ style(原網頁設定) ------------*/
*{
  box-sizing: border-box;
}
*:focus{
  outline: 0;
}
a{
  text-decoration: none;
}
img{
  width: 100%;
  height: auto;
}
.list-inline,
.list-h,
.list-v{
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.list-inline > li{
  display: inline-block;
}
.list-h > li{
  float: left;
}
.mt-5{
  margin-top: 5px;
}
.mb-5{
  margin-bottom: 5px;
}
.mt-10{
  margin-top: 10px;
}
.mb-10{
  margin-bottom: 10px;
}
.mt-20{
  margin-top: 20px;
}
.mb-20{
  margin-bottom: 20px;
}
.mt-30{
  margin-top: 30px;
}
.ml-30{
  margin-left: 30px;
}
.mr-30{
  margin-right: 30px;
}
.mb-30{
  margin-bottom: 30px;
}

.pt-30{
  padding-top: 30px;
}
.pl-30{
  padding-left: 30px;
}
.pr-30{
  padding-right: 30px;
}
.pb-30{
  padding-bottom: 30px;
}
.flex{
  display: flex;
}
.flex-center{
  /* align-items: center; */
  justify-content: center;
}


body, html {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    /* line-height: 1.5em; */
    font-family: '微軟正黑體',Microsoft JhengHei,MingLiU,arial,verdana,helvetica,tahoma,Sans-serif;
    transition: none;
    color: #3f3f3f;
}
body{
  position: relative;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}
body.slidefixed{
    position: relative;
}
.container {
    position: relative;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 15px;
    max-width: 1170px;
}
.wrapper{
    overflow: hidden;
}

/*gototop*/
.gototop{
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 999;
  opacity: 0;
  transition: opacity 240ms linear;
  pointer-events: none;
  cursor: pointer;
}
.gototop.active{
  opacity: 1;
  pointer-events: all;
}
.top-btn{
  padding: 16px;
  display: block;
  border: none;
  color: #8d909c;
  font-size: 20px;
  -webkit-writing-mode: vertical-lr;
  writing-mode: vertical-lr;
  padding-top: 40px;
}
@keyframes scroll01 {
  0% {
      border-color: #fff;
      -webkit-transform: rotate(-45deg) translate(-20px, 20px);
              transform: rotate(-45deg) translate(-20px, 20px);
      opacity: 0;
  }
  50% {
      border-color: #8d909c;
      opacity: 1;
  }
  100% {
      border-color: #fff;
      -webkit-transform: rotate(-45deg) translate(0, 0);
              transform: rotate(-45deg) translate(0, 0);
      opacity: 0;
  }
}
.top-btn span{
  position: absolute;
  top: 0;
  left: 50%;
  width: 16px;
  height: 16px;
  margin-left: -8px;
  border-right: 2px solid #8d909c;
  border-top: 2px solid #8d909c;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: scroll01 1.5s infinite;
  animation: scroll01 1.5s infinite;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}