@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

/*選取顏色*/
::selection {
	background: #a7aab8;
	color: #fff;
}
::-moz-selection {
	background: #a7aab8;
	color: #fff;
}
img::selection {
	background: transparent;
}
img::-moz-selection {
	background: transparent;
}

/*------------ loading ------------*/
.loading{
  position: fixed;
  top: 0;
  left: 0;
  background: #fff1ef;
  z-index: 999;
}
.loading_progress{
  background:#F9BE00;
  height: 5px;
  display: block;
  width: 0;
}



.mul13 {
  width: 30px;
  height: 30px;
  position: relative;
}
  
.m13s {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  position: absolute;
  opacity: .75;
} 
 
.m13c1 {
  background-color: #68C3A3;
  -webkit-animation: m13s1anim 2s infinite linear;
  animation: m13s1anim 2s infinite linear;
}
  
.m13c2 {
  background-color: #EC644B;
  -webkit-animation: m13s2anim 2s infinite linear;
  animation: m13s2anim 2s infinite linear;
}
  
@-webkit-keyframes m13s1anim {
  0%, 100% {
     -webkit-transform: translateX(-15px);
     transform: translateX(-15px);
  }
  25% {
     -webkit-transform: scale(0.6);
     transform: scale(0.6);
     opacity: .25;
  }
  50% {
     -webkit-transform: translateX(15px);
     transform: translateX(15px);
  }
  75% {
     -webkit-transform: scale(1.4);
     transform: scale(1.4);
     opacity: .8;
  }
} 
 
@keyframes m13s1anim {
  0%, 100% {
     -webkit-transform: translateX(-15px);
     transform: translateX(-15px);
  }
  25% {
     -webkit-transform: scale(0.6);
     transform: scale(0.6);
     opacity: .25;
  }
  50% {
     -webkit-transform: translateX(15px);
     transform: translateX(15px);
  }
  75% {
     -webkit-transform: scale(1.4);
     transform: scale(1.4);
     opacity: .8;
  }
} 
 
@-webkit-keyframes m13s2anim {
  0%, 100% {
     -webkit-transform: translateX(15px);
     transform: translateX(15px);
  }
  25% {
     -webkit-transform: scale(1.4);
     transform: scale(1.4);
     opacity: .8;
  }
  50% {
     -webkit-transform: translateX(-15px);
     transform: translateX(-15px);
  }
  75% {
     -webkit-transform: scale(0.6);
     transform: scale(0.6);
     opacity: .25;
  }
} 
 
@keyframes m13s2anim {
  0%, 100% {
     -webkit-transform: translateX(15px);
     transform: translateX(15px);
  }
  25% {
     -webkit-transform: scale(1.4);
     transform: scale(1.4);
     opacity: .8;
  }
  50% {
     -webkit-transform: translateX(-15px);
     transform: translateX(-15px);
  }
  75% {
     -webkit-transform: scale(0.6);
     transform: scale(0.6);
     opacity: .25;
  }
}
/*------------ animated ------------*/
/* .animated {
  animation-duration: 1.3s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
} */

@keyframes upDown {
  from     {bottom: 10%; opacity:0.5;}
  50%   {bottom: 0%; opacity:1;}
  to {bottom: 10%; opacity:0.5;}
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.fadeInUp {
  animation-name: fadeInUp;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fadeIn {
  animation-name: fadeIn;
}
/*------------ animated ------------*/
/*------------ style(原網頁設定) ------------*/
*{
  box-sizing: border-box;
}
*:focus{
  outline: 0;
}
a{
  text-decoration: none;
}
img{
  width: 100%;
  height: auto;
}
.list-inline,
.list-h,
.list-v{
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.list-inline > li{
  display: inline-block;
}
.list-h > li{
  float: left;
}
.mt-5{
  margin-top: 5px;
}
.mb-5{
  margin-bottom: 5px;
}
.mt-10{
  margin-top: 10px;
}
.mb-10{
  margin-bottom: 10px;
}
.mt-20{
  margin-top: 20px;
}
.mb-20{
  margin-bottom: 20px;
}
.mt-30{
  margin-top: 30px;
}
.ml-30{
  margin-left: 30px;
}
.mr-30{
  margin-right: 30px;
}
.mb-30{
  margin-bottom: 30px;
}

.pt-30{
  padding-top: 30px;
}
.pl-30{
  padding-left: 30px;
}
.pr-30{
  padding-right: 30px;
}
.pb-30{
  padding-bottom: 30px;
}
.flex{
  display: flex;
}
.flex-center{
  /* align-items: center; */
  justify-content: center;
}


body, html {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    /* line-height: 1.5em; */
    font-family: '微軟正黑體',Microsoft JhengHei,MingLiU,arial,verdana,helvetica,tahoma,Sans-serif;
    transition: none;
    color: #3f3f3f;
}
body{
  position: relative;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}
body.slidefixed{
    position: relative;
}
.container {
    position: relative;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 15px;
    max-width: 1170px;
}
.wrapper{
    overflow: hidden;
}