@charset 'utf-8';

body.pc {
    overflow: hidden;
}
body.page_work_content {
    overflow-y: visible;
}
.jsbg{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: transparent;
}
.bg{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
@keyframes bg_left {
    0% { opacity: 1; left: -700px; bottom: -600px; }
    25% { opacity: 0.6; left: -300px; bottom: -700px; }
    50% { opacity: 0.4; left: 100px; bottom: -800px; }
    75% { opacity: 0.6; left: -300px; bottom: -700px; }
    100% { opacity: 1; left: -700px; bottom: -600px; }
}
.bg_left{
    position: absolute;
    left: -700px;
    bottom: -600px;
    width: 1457px;
    height: 1165px;
    background: radial-gradient(circle closest-side at center,rgba(255,198,160,1),rgba(255,198,160,0));
    animation-name: bg_left;
    animation-duration: 16s;
    animation-iteration-count: infinite;
}
@keyframes bg_right {
    0%   { transform: rotate(0deg); opacity: .1; }
    25%  { transform: rotate(90deg); }
    50%  { transform: rotate(180deg); opacity: 1; }
    75%  { transform: rotate(270deg);}
    100% { transform: rotate(360deg); opacity: .1; }
}
.bg_right{
    position: absolute;
    right: -400px;
    bottom: -700px;
    width: 1100px;
    height: 1200px;
    transform: rotate(0deg);
    transform-origin: center center;
    /* transition-timing-function: linear; */
    animation-timing-function: linear;
    animation-name: bg_right;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
/* @keyframes bg_right {
    0% { opacity: 0; }
    25% { opacity: 0; }
    50% { opacity: 1; }
    75% { opacity: 1; }
    100% { opacity: 0; }
}
.bg_right{
    position: absolute;
    right: -550px;
    top: -550px;
    width: 950px;
    height: 950px;
    background: radial-gradient(circle closest-side at center,rgba(204,255,216,1),rgba(204,255,216,0));
    animation-name: bg_right;
    animation-duration: 8s;
    animation-iteration-count: infinite;
} */
.bg_logo{
    color: transparent;
    font-size: 18vw;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    letter-spacing: 2px;
    -webkit-text-stroke: 1.5px rgba(255,255,255,1);
    margin-bottom: 45vh;
    position: absolute;
    top: 30vh;
}
.main{
    width: 100%;
    position: relative;
    z-index: 3;
}
.pc .main{
    height: 100vh;
}


/*works*/
.bg_logo{
    top: 65vh;
}
.header{
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    padding: 15px 30px;
}
.mobile .header{
    right: 0;
    z-index: 4;
    /* text-align: center; */
    padding: 0 30px;
    background-color: rgba(141,144,156,.5);
}
.in_logo{
    font-family: 'Permanent Marker', cursive;
    font-size: 30px;
    /* font-weight: bold; */
    text-shadow: 3px 3px 8px rgba(20%,20%,40%,0.3);
    color: #fff;
    letter-spacing: 1px;
    padding: 15px;
    display: inline-block;
}
.mobile .in_logo{
    font-size: 24px;
    line-height: 31px;
    text-align: left;
    padding: 5px 0;
}
.in_logo span{
    display: block;
}

/*列表*/
.work_list{
    pointer-events: none;
    opacity: 0;
    transition: opacity 240ms linear;
}
.pc .work_list{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 20px; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.mobile .work_list{
    padding-top: 150px;
    position: fixed;
}
/* .mobile.page_work_content .work_list{
    height: 0;
    overflow: hidden;
} */
.work_list.active{
    opacity: 1;
    pointer-events: all;
}
.mobile .work_list.active{
    position: relative;
}



.pc .work_title{
    width: 27%;
    padding-left: 3%;
    margin-right: 10px;
}
.work_name{
    line-height: 1.5;
    color: #8d909c;
    letter-spacing: 2px;
    font-size: 2.6vw;
}
.mobile .work_name{
    font-size: 5vw;
    text-align: center;
    margin-bottom: 50px;
}
@media screen and (max-width: 768px) {
    .mobile .work_name{
        font-size: 9vw;
    }
}
.work_name_en{
    background:transparent -webkit-linear-gradient(left, #8d909c, #8d909c) no-repeat 0 0;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-size: 0 100%;
    -webkit-text-stroke: 0.5px #8d909c;
}
@keyframes scan {
     0% { background-size: 0 100%; }
     100% { background-size: 100% 100%; }
}
.work_name_en.load {
    background-size: 100% 100%;
    animation: scan 1s linear;
}
.work_name small{
    display: block;
    font-size: 27px;
}
.pc .work_name small{
    font-weight: bold;
}
.mobile .work_name small{
    font-size: 34px;
}


.owl-carousel .owl-stage-outer{
    height: 100%;
}
.work_ul{
    height: 100%;
}
.mobile .work_ul:after{
    content: '';
    display: block;
    clear: both;
}
.pc .work_ul{
    width: calc(73% - 10px);
}
.mobile .work_ul{
    padding: 0 15px;
}
.work_li{
    width: 100%;
    position: relative;
}
.pc .work_li{
    padding-left: 30px;
    /* width: 1030px; */
    width: calc(100vw - 30px - 32vw - 160px);
}
.mobile .work_li{
    float: left;
    width: 50%;
    box-sizing: border-box;
}
.mobile .work_li:nth-child(2n+1){
    clear: both;
}
.pc .work_li::before{
    content: '';
    width: 1px;
    background: #a1a1a1;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -50vh;
}
.work_li_outer{
    /* max-width: 1000px; */
    width: 100%;
}
.pc .work_li_outer{
    display: flex;
    align-items: center;
}
.mobile .work_li_outer{
    max-width: 540px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px 8vw;
}
.work-text-box{
    position: relative;
}
.pc .work-text-box{
    /* padding-left: 120px; */
    z-index: 0;
    top: -8vh;
    width: calc(89% - 540px);
    padding-left: 11%;
}
.mobile .work-text-box{
    /* text-align: center; */
    padding: 20px 30px;
    display: flex;
    background-color: rgba(255, 255, 255, .8);
    /* max-width: 540px;
    width: 100%; */
}
.work-text-box i{
    position: relative;
    font-size: 6vw;
    display: block;
    font-style: unset;
    color: #8d909c;
}
.pc .work-text-box i{
    margin-bottom: 20px;
}
.work-text-box i::after{
    content: attr(tag);
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(135deg, #68C3A3 50%, #EC644B 50%) no-repeat;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-size: 0 100%;
    -webkit-text-stroke: 0.5px transparent;
}
@keyframes scan50 {
     0% { background-size: 0 100%; }
     100% { background-size: 100% 100%; }
}
.owl-stage ._active .work-text-box i::after{
    background-size: 100% 100%;
    animation: scan50 200ms linear;
}
/* .mobile .work-text-box i{
    width: 100px;
} */
.work-text-box i:before{
    content: ' ';
    width: 0;
    height: 1px;
    background: #8d909c;
    position: absolute;
    left: -120px;
    top: 150px;
    transition: width .5s linear;
}
/* .work-text-box > div{
    width: calc(100% - 100px);
} */
.work-text-box .work-txt{
    line-height: 1.8em;
    font-size: 20px;
}
.mobile .work-text-box > div{
    padding-left: 30px;
}
.owl-stage{
    top: 50%;
}
.owl-stage ._active .work-text-box i:before{
    width: calc(6vw + 133px);
}


.work_pic{
    max-width: 540px;
    width: 100%;
    position: relative;
    z-index: 1;
}
.mobile .work_pic{
    margin: 0 auto;
}
.mobile .work_pic .work_a{
    line-height: 0;
}
.work_a{
    position: relative;
    display: block;
    color: #3f3f3f;
}
.work_img{
    -webkit-filter: grayscale(0) sepia(0) brightness(100%);
    filter: grayscale(0) sepia(0) brightness(100%);
    transform: translate3d(0px, 0px, 0px) skewX(0deg) scale3d(1, 1, 1);
    transition: transform 240ms linear;
}
.work_nav button{
    background: none;
    border: none;
    padding: 0;
}
.work_nav button div{
    position: relative;
    width: 46px;
    height: 50px;
    display: block;
}
.work_nav .nav-prev:before,
.work_nav .nav-next:before{
    content: '';
    width: 14px;
    height: 14px;
    border: solid #8d909c;
    border-width: 1px 1px 0 0;
    transform: rotate(-130deg);
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -7px;
}
.work_nav .nav-prev:before{
    transform: rotate(-130deg);
    left: 1px;
}
.work_nav .nav-next:before{
    transform: rotate(45deg);
    right: 1px;
}
.work_nav .nav-prev:after,
.work_nav .nav-next:after{
    content: '';
    height: 1px;
    background-color: #8d909c;
    display: block;
    position: absolute;
    top: 50%;
}
.work_nav .nav-prev:after{
    left: 0;
    width: 20px;
}
.work_nav .nav-next:after{
    right: 0;
    width: 40px;
}


/*內頁*/
.work_content{
    position: absolute;
    z-index: 4;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
    transition: opacity 240ms linear;
}
.work_content.active{
    position: relative;
    pointer-events: all;
    visibility: visible;
    opacity: 1;
}
/* .mobile .work_content{
    display: none;
}
.mobile .work_content.active{
    display: block;
} */
body.page_work_content .bg_left{
    background: radial-gradient(circle closest-side at center,rgba(143,182,255,1),rgba(143,182,255,0));
    animation-duration: 8s;
}
/* body.page_work_content .main{
    top: 72px;
} */
.work_content_close{
    width: 50px;
    height: 50px;
    background: #fff;
    border: none;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    padding: 0;
}
.work_content .content_in,
.work_content_close{
    opacity: 0;
    pointer-events: none;
}
.work_content.active .content_in,
.page_work_content .work_content_close{
    opacity: 1;
    pointer-events: all;
}
.work_content_close:before{
    content: '';
    width: 36px;
    height: 2px;
    background-color: #888;
    display: block;
    transform: rotate(45deg);
    margin: 0 auto;
}
.work_content_close span{
    transform: rotate(-45deg);
    width: 36px;
    height: 2px;
    position: relative;
    display: block;
    margin: 0 auto;
}
.work_content_close span:before{
    content: '';
    width: 18px;
    height: 2px;
    background-color: #888;
    display: block;
    position: absolute;
    top: -1px;
    right: -2px;
}
.work_content_close span:after{
    content: '';
    width: 14px;
    height: 2px;
    background-color: #888;
    display: block;
    position: absolute;
    top: -1px;
    left: 0px;
}
.work_cont_txt{
    margin-top: 200px;
    margin-bottom: 160px;
    padding: 0  10.5vw;
}
[data-aos].aos-animate{
    pointer-events: none;
}
.work_content.active [data-aos].aos-animate {
    pointer-events: auto;
}
.work_cont_txt .container{
    max-width: 900px;
    padding: 30px 60px;
    /* background-color: rgba(255,255,255,1);
    box-shadow: 1px 1px 5px rgb(51 51 102 / 30%); */
    position: relative;
    padding-top: 80px;
    padding-bottom: 50px;
}
/* .work_cont_txt .container:before{
    content: '';
    background-color: rgba(249, 190, 0, .5);
    display: block;
    z-index: -1;
    position: absolute;
    height: 16px;
    top: -16px;
    left: 40px;
    right: -20px;
}
.work_cont_txt .container:after{
    content: '';
    background-color: rgb(181 181 181 / 50%);
    display: block;
    z-index: -1;
    position: absolute;
    width: 20px;
    height: 100%;
    top: -16px;
    right: -20px;
} */
.work_cont_txt .work-txt-id{
    font-size: 6vw;
    font-size: 115px;
    position: absolute;
    top: -100px;
    left: 36px;
}
.work_cont_txt .work-bg1{
    /* background-color: rgba(255, 255, 255, .5); */
    background-color: rgba(249, 190, 0, .5);
    /* border-top: 1px solid #ccc; */
    display: block;
    z-index: -1;
    position: absolute;
    width: calc(100% - 20px);
    height: 16px;
    top: -16px;
    left: -100vw;
    transition: left 400ms linear;
}
/* .pc .work_cont_txt .work-bg1{
    transition: left 600ms linear;
}
.mobile .work_cont_txt .work-bg1{
    transition: left 400ms linear;
} */
.work_cont_txt.aos-animate .work-bg1{
    left: 40px;
}

.work_cont_txt .work-bg2{
    background-color: rgb(181 181 181 / 50%);
    /* background-color: #F9BE00; */
    display: block;
    z-index: -2;
    position: absolute;
    width: 0;
    height: calc(100% - 16px);
    top: 0;
    left: -100vw;
    transition: left 300ms linear, width 300ms linear;
    transition-delay: 400ms;
}
/* .pc .work_cont_txt .work-bg2{
    transition: left 500ms linear, width 500ms linear;
    transition-delay: 400ms;
}
.mobile .work_cont_txt .work-bg2{
    transition: left 200ms linear, width 200ms linear;
    transition-delay: 200ms;
} */


.work_cont_txt.aos-animate .work-bg2{
    width: 100%;
    left: 20px;
}
.work_cont_txt .container:before{
    content: '';
    background-color: rgba(255,255,255,1);
    display: block;
    z-index: -1;
    position: absolute;
    width: 80%;
    height: 100%;
    top: 0;
    left: -100vw;
    transition: left 400ms linear, width 400ms linear;
    transition-delay: 800ms;
}
/* .pc .work_cont_txt .container:before{
    transition: left 500ms linear, width 500ms linear;
    transition-delay: 800ms;
}
.mobile .work_cont_txt .container:before{
    transition: left 300ms linear, width 300ms linear;
    transition-delay: 400ms;
} */
.work_cont_txt.aos-animate .container:before{
    width: 100%;
    left: 0;
}


.work_cont_txt .flex{
    width: 100%;
    font-size: 20px;
    line-height: 1.8em;
    /* text-align: center; */
    justify-content: center;
}
.mobile .work_cont_txt .flex{
    display: block;
}
.flex-div{
    width: calc((100% - 180px) / 2);
    display: flex;
    justify-content: center;
}
.mobile .flex-div{
    width: 100%;
    display: block;
    margin-bottom: 30px;
}
.flex-btn{
    width: 180px;
    display: flex;
    justify-content: center;
    align-self: center;
}
.mobile .flex-btn{
    display: block;
    margin-top: 50px;
}
.flex-btn a{
    color: #fff;
    padding: 30px;
    background: rgba(249, 190, 0, 1);
    display: inline-block;
}
.mobile .flex-btn a{
    padding: 16px 30px;
}

.work_cont_txt .flex .line{
    position: relative;
}
.mobile .work_cont_txt .flex .line{
    height: 1px;
    margin-bottom: 30px;
}
.work_cont_txt .flex .line::after{
    position: absolute;
    top: 0;
    left: 0;
    content: '';
}
.pc .work_cont_txt .flex .line::after{
    width: 0;
    height: 100%;
    border-right: 1px dashed #666;
}
.mobile .work_cont_txt .flex .line::after{
    width: 100%;
    height: 0px;
    border-top: 1px dashed #666;
}

.work_txt_title{
    position: relative;
    font-weight: bold;
    margin-bottom: 30px;
    font-size: 23px;
}
.work_txt_title::before{
    content: '';
    width: 16px;
    height: 5px;
    background-color: #555;
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
}
.work_cont_pic{
    max-width:100%;
    padding: 0 0 200px;
}
.work_cont_pic::after{
    content: '';
    display: block;
    clear: both;
}

/*內頁banner*/
.parallax{
    background-color: #555;
    position: relative;
}
.parallax .picbgbox{
    position: relative;
    display: block;
    width: 100%;
    /* height: 500px; */
    height: 90vh;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}
.img-loding{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -50px;
    margin-top: -60px;
    text-align: center;
    z-index: 0;
}
.img-loding .loding-txt{
    color: #e4e4e4;
}
@media only screen and (max-width: 1024px) {
  .parallax .picbgbox{
      height: 50vw;
  }
}
@media only screen and (min-width: 1367px) {
  .parallax .picbgbox{
      /* background-image:url(../images/works/01/pc_1.png); */
  }
}
@media only screen and (max-width: 1366px) and (min-width: 993px) {
  .parallax .picbgbox{
      /* background-image:url(../images/works/01/pc_1.png); */
  }
}
@media only screen and (max-width: 992px) and (min-width: 768px) {
  .parallax .picbgbox{
      /* background-image:url(../images/works/01/pc_1.png); */
  }
}
@media only screen and (max-width: 767px) {
  .parallax .picbgbox{
      /* background-image:url(../images/works/01/pc_1.png); */
  }
}
/*內頁banner END*/


/*內頁手機*/
.work_cont_mobile{
    float: left;
    max-width: 400px;
    width: calc(100% / 3);
    margin-top: 10.5vw;
    margin-left: 5vw;
    display: block;
    position: relative;
    background: url(../images/works/iphone.png) top center / contain no-repeat;
    height: 838px;
}
.work_cont_mobile_in{
    position: absolute;
    top: 6px;
    right: 8px;
    bottom: 6px;
    left: 8px;
    border-radius: 59px;
    /* border-radius: 4.2vw; */
    /* overflow: hidden; */
}
.phone_scroll{
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    position: relative;
}
.work_cont_img_phone{
    width: 100%;
    position: relative;
    z-index: 1;
}
.phone_scroll::-webkit-scrollbar {
    width: 8px;
}
.phone_scroll::-webkit-scrollbar-track {
    background-color: #555;
    border-left: 1px solid #555;
}
.phone_scroll::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 15px;
}
.phone_scroll::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}
/*內頁手機 END*/


/*內頁輪播控制器*/
.work_cont_pc{
    float: right;
    max-width: 1080px;
    margin-left: 7vw;
    width: calc((100% / 3) * 2 - 12vw);
}
.work_cont_pc .control-box{  
    position: sticky;
    top: calc(100% - 83px);
    bottom: 0;
    background: #fff;
    border: 2px solid #eee;
    padding: 14px 14px 14px 35px;
    z-index: 333;
}
.work_cont_pc .control-box{  
    display: inline-block;
}
.work_cont_pc .control-box .control,
.work_cont_pc .control-box .indicator,
.work_cont_pc .control-box .items{
    display: inline-block;
}
.work_cont_pc .control-box .indicator{
    margin-right: 50px;
    line-height: 50px;
}
.work_cont_pc .slick-arrow{
    width: 60px;
    height: 50px;
    display: inline-block;
    vertical-align: middle;
    border: none;
    background-color: transparent;
}
.work_cont_pc .swiper-button-next:after,
.work_cont_pc .swiper-button-prev:after{
    font-size: 20px;
    color: #666;
}
.work_cont_pc .swiper-button-next,
.work_cont_pc .swiper-button-prev{
    position: static;
    margin-top: 0;
}
.work_cont_pc .slick-prev{
    border-right: 1px solid #aaa;
}
.work_cont_pc .swiper-pagination-bullets.swiper-pagination-horizontal{
    position: static;
    width: auto;
}
.work_cont_pc .swiper-pagination button{
    border: none;
    background: transparent;
    cursor: text;
    padding: 0;
}
.work_cont_pc .swiper-pagination .swiper-pagination-bullet{
    display: none;
    color: #666;
    font-size: 16px;
    font-weight: bold;
}
.work_cont_pc .control-box .separator,
.work_cont_pc .swiper-pagination .swiper-pagination-bullet-active,
.work_cont_pc .control-box .total{
    display: inline;
    vertical-align: middle;
}
.work_cont_pc .control-box .separator{
    font-size: 14px;
    margin: 0 6px;
    color: #666;
}
.work_cont_pc .swiper-pagination .swiper-pagination-bullet-active{
    color: #111;
    background: none;
}
.work_cont_pc .mySwiper{
    margin-bottom: 84px;
}
/*內頁輪播控制器 END*/

@media screen and (max-width: 768px) {
    .work_cont_pic{
        padding: 0;
    }
    .mobile .work_cont_mobile{
        width: 50%;
        min-width: 280px;
        margin-left: 8vw;
        margin-bottom: 100px;
    }
    .mobile .work_cont_pc{
        width: calc(100% - 11vw);
        margin: 0 0 100px;
    }
}

@media screen and (max-width: 512px) {
    .mobile .work_li{
        width: 100%;
        float: none;
    }
}